@charset "utf-8";
/* 
어그로체
font-family: 'SBAggro'; 
300 500 700
*/

* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

img,
video,
iframe {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #000;
    cursor: url(../img/cursor/cursor_heart.cur), auto;
}

img,
video {
    max-width: 100%;
}

/* overflow hiddne을 통해 먼저 브라우저 옆의 스크롤 바를 숨긴다. */
/* 보이는 html과 body를 100%로 지정하고, 각 섹션 역시 100%로 지정하면, 한 섹션이 브라우저 가득 화면을 채우게 된다. */
html {
    overflow: hidden;

}

html,
body {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: url(../img/cursor/cursor.cur), auto;
}

.section {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #b885e0;
    font-family: 'SBAggro';
    font-weight: 500;
    font-size: 40px;

}

body {
    min-width: 1450px;
    font-family: 'TheJamsil';
    font-size: 20px;
    line-height: 40px;
    color: #340a69;

}

/* html {
    overflow: hidden;
} */

.h_logo {
    padding-left: 50px;
}

.h_inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.h_btn {
    opacity: 1;
    position: absolute;
    top: 15px;
    right: 50px;
}

.h_hamberger .h_btn_hover {
    /* display: none; */
    opacity: 0;
    position: absolute;
    top: 15px;
    right: 50px;
}

.h_hamberger:hover .h_btn {
    /* display: none; */
    opacity: 1;
}

.h_hamberger:hover .h_btn_hover {
    /* display: block; */
    opacity: 1;
    transition: all 0.5s;
}

.sidebar_menu {
    display: none;
    width: 100%;
    height: 100%;
    background: url(./img/brand/side_menu_bg.png) no-repeat;
    position: absolute;
    top: 0;
    z-index: 200;
    position: fixed;
}

.x_btn {
    display: flex;
    justify-content: right;
}

/* .close_btn {
    width: 25px;
    height: 25px;
    margin: 10px;
    padding-right: 25px;
} */

/* .close_btn>a {
    display: block;
    width: 100%;
    height: 100%;
} */

.sidebar_menu_inner {
    display: flex;
}

.sidebar_lnb {
    width: 50%;
    height: 100vh;
    padding-top: 300px;
    font-family: 'SBAggro';
    font-size: 24px;
    font-weight: 300;
    color: #d0a1f5;
    text-align: center;
    background-color: #fee9ff;

}

.sidebar_lnb p {
    line-height: 60px;
}

.sidebar_lnb h1 {
    padding-bottom: 50px;
}

.sidebar_lnb_p_style {
    font-weight: 500;
}

.sidebar_rnb {
    width: 50%;
    height: 100vh;
    background-color: #fdd3ff;
}

.x_btn {
    display: flex;
    justify-content: right;
    padding-top: 25px;
    padding-right: 40px;
}

.sidebar_ul {
    padding-top: 150px;
}

.about_menu,
.shop_menu,
.community_menu {
    display: flex;
    font-family: 'SBAggro';
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    line-height: 55px;
    padding-bottom: 35px;

}

.about_menu li,
.shop_menu li,
.community_menu li {
    padding-right: 30px;
    padding-top: 10px;
}

.about_menu li a,
.shop_menu li a,
.community_menu li a {
    color: #b885e0;

}

.about_menu_inner,
.shop_menu_inner,
.community_menu_inner {
    display: flex;
    font-weight: 300;
    font-size: 30px;
    padding-left: 20px;

}

.about_menu_inner li a,
.shop_menu_inner li a,
.community_menu_inner li a {
    background-image: linear-gradient(transparent calc(100% - 3px), #000 3px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.5s;
    color: #000;
    cursor: pointer;
    background-image: linear-gradient(transparent 85%, #deb3ff 15%);
}

.about_menu_inner li a,
.shop_menu_inner li a,
.community_menu_inner li a {
    color: #e1acff;
}

.about_menu_inner li a:hover,
.shop_menu_inner li a:hover,
.community_menu_inner li a:hover {
    background-size: 100% 100%;
    color: white;
}

/* banner */
#banner {
    background: url(../img/brand/banner_bg.jpg) no-repeat;
    height: 870px;
    width: 100%;
    overflow: hidden;
}

#banner .white_cloud {
    position: relative;
}

#banner .white_cloud .white_cloud1 {
    position: absolute;
    top: 80px;
    left: 150px;
    animation: cloud_move linear 1s infinite alternate-reverse;
}

#banner .white_cloud .white_cloud2 {
    position: absolute;
    top: 20px;
    right: 100px;
    animation: cloud_move linear 1s infinite alternate-reverse;
}


#banner .trees {
    position: relative;
}

#banner .trees .tree_img1 {
    position: absolute;
    top: 0;
    left: -250px;
}

#banner .trees .tree_img2 {
    position: absolute;
    top: 400px;
    left: 100px;
}

#banner .trees .tree_img3 {
    position: absolute;
    top: 450px;
    right: 200px;
}

#banner .trees .tree_img4 {
    position: absolute;
    top: 0px;
    right: -260px;
}

#banner .cloud {
    position: relative;
}

@keyframes cloud_move1 {
    0% {
        transform: translateY(-25px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px)
    }
}

@keyframes cloud_move2 {
    0% {
        transform: translateY(-25px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px)
    }
}

#banner .cloud .cloud_img1 {
    position: absolute;
    top: 600px;
    left: 0;
    z-index: 20;
    animation: cloud_move1 linear 1s infinite alternate-reverse;

}

#banner .cloud .cloud_img2 {
    position: absolute;
    top: 600px;
    left: -200px;
    z-index: 19;
    animation: cloud_move2 linear 1s infinite alternate-reverse;

}

.ball {
    z-index: 50;
    animation: cloud_move linear 1s infinite alternate-reverse;
}

.stars {
    position: relative;
}

.star1 {
    position: absolute;
}

@keyframes ate_move {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(150px);
    }

    100% {
        transform: translateY(300px);
    }
}

@keyframes ate_body_move {
    0% {
        transform: rotate(-15deg);
    }

    50% {
        transform: rotate(-25deg)
    }

    100% {
        transform: rotate(-35deg);
    }
}

#banner .ate {
    position: relative;
    animation: ate_move linear 0.5s 1 alternate-reverse;
}

#banner .ate .ate_face {
    position: absolute;
    top: 330px;
    left: 560px;

}

#banner .ate .ate_body {
    position: absolute;
    top: 580px;
    left: 1000px;
    animation: ate_body_move linear 1s infinite alternate-reverse;
}

@keyframes b_logo_move {
    0% {
        transform: translateY(-25px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px)
    }
}

#banner .b_logo {
    position: relative;
}

#banner .b_logo .logo_img {
    position: absolute;
    top: 100px;
    left: 400px;
    z-index: 20;
    animation: b_logo_move linear 1s infinite alternate-reverse;
}

/* about */
#about {
    background-color: #e5a4ff;
    padding-top: 200px;
    padding-bottom: 100px;
    height: 970px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.a_box {
    position: relative;

}

.skewer_img {
    position: absolute;
    top: 80px;
    left: 750px;
}

.heart1_img {
    position: absolute;
    top: 80px;
    left: 410px;
}

.heart2_img {
    position: absolute;
    top: 150px;
    left: 430px;
}

.happy_img {
    position: absolute;
    top: 70px;
    left: 530px;
}

.merhand_img_sticker {
    position: absolute;
    top: 10px;
    right: 310px;
}

.a_inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: #ffffa9;
    height: 560px;
    box-sizing: border-box;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

/* @keyframes about_move{
    0%{
        transform: translateY(-);
    }
    100%{}
} */
.tape {
    position: relative;

}

.tape .tape_img {
    position: absolute;
    top: -50px;
    left: 800px;
    z-index: 50;
}

.about_text {
    width: 450px;
    height: 375px;
    background-color: white;

}

.about_text p {
    font-weight: 300;
    text-align: center;
}

.about_img {
    padding-top: 60px;
    box-sizing: border-box;
}

.about_text {
    margin-top: 70px;
    padding-top: 95px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}

/* character */
#character {
    background-color: #e5a4ff;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 970px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.c_inner {
    width: 1320px;
    margin: 0 auto;
}

.c_flex1 {
    display: flex;
    justify-content: space-around;
}

.c_flex2 {
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.ate_card_bg {
    margin-left: 220px;
}

.tero_card_bg {
    margin-right: 220px;
}

.ate_card_bg,
.tero_card_bg,
.poron_card_bg,
.narin_card_bg,
.kei_card_bg {
    width: 381px;
    height: 322px;
    border-radius: 33px;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.ate_card_bg {
    background-color: #ffffa9;
}

.tero_card_bg {
    background-color: #f9b39d;
}

.poron_card_bg {
    background-color: #8383e5;
}

.narin_card_bg {
    background-color: #f9738a;
}

.kei_card_bg {
    background-color: #dcbbfc;
}

.card_inner {
    background-color: white;
    width: 333px;
    height: 231px;
    border-radius: 33px;
    margin-top: 25px;

}

.ate_card_bg a,
.tero_card_bg a,
.poron_card_bg a,
.narin_card_bg a,
.kei_card_bg a {
    display: inline-block;
    text-align: center;
}

.ate_name,
.tero_name,
.poron_name,
.narin_name,
.kei_name {
    padding-top: 5px;
    padding-left: 5px;
}

.ate_card_bg .card_inner,
.tero_card_bg .card_inner,
.poron_card_bg .card_inner,
.narin_card_bg .card_inner,
.kei_card_bg .card_inner {
    overflow: hidden;
}

.ate_card_bg:hover,
.tero_card_bg:hover,
.poron_card_bg:hover,
.narin_card_bg:hover,
.kei_card_bg:hover {
    transform: translateY(-25px);
    transition: all 0.2s ease-in;
}


.ate_card_bg:hover img,
.tero_card_bg:hover img,
.poron_card_bg:hover img,
.narin_card_bg:hover img,
.kei_card_bg:hover img {
    transform: scale(1.1, 1.1);
    transition: all 0.2s ease-in;
}

.ate_card_bg:hover .ate_name,
.tero_card_bg:hover .tero_name,
.poron_card_bg:hover .poron_name,
.narin_card_bg:hover .narin_name,
.kei_card_bg:hover .kei_name {
    display: none;
}

.ate_card_bg:hover .card_click_text,
.tero_card_bg:hover .card_click_text,
.poron_card_bg:hover .card_click_text,
.narin_card_bg:hover .card_click_text,
.kei_card_bg:hover .card_click_text {
    display: block;
}

.card_click_text {
    display: none;
    position: absolute;
    width: 142px;
    height: 57px;
    border-radius: 28px;
    background-color: white;
    top: 260px;
    left: 50%;
    margin-left: -71px;
    text-align: center;

}

.card_click_text a {
    color: #b885e0;
    font-size: 30px;
    display: block;
    padding-top: 10px;
    font-weight: 500;
}

.c_text {
    text-align: center;
    padding-top: 50px;
    color: white;
    font-weight: 400;
    box-sizing: border-box;
}

/* keyword */

#keyword {
    background-color: #ffffa9;
    height: 970px;
    box-sizing: border-box;
    padding-top: 50px;
    width: 100%;
    height: 100%;
}

#keyword h1 {
    text-align: center;
    color: #b885e0;
    font-family: 'SBAggro';
    font-weight: 500;
    font-size: 40px;
}

/* .k_inner {
    width: 1320px;
    margin: 0 auto;
} */

/* ate */
.k_cloud {
    position: relative;
    animation: cloud_move1 linear 1s infinite alternate-reverse;
}

.k_cloud p {
    color: white;
    font-family: 'SBAggro';
    font-weight: 500;
    font-size: 37px;
}

.k_cloud1 {
    position: absolute;
    top: 50px;
    right: 200px;
    animation-delay: .1s;
}

.k_cloud1 p {

    position: absolute;
    top: 100px;
    right: 130px;
}

.k_ate {
    position: absolute;
    top: 0px;
    right: 240px;
    animation: face_rotate linear 1s infinite alternate-reverse;

}

/* kei */
.k_cloud2 {
    position: absolute;
    top: 400px;
    right: 50px;
}

.k_cloud2 p {
    position: absolute;
    top: 100px;
    right: 150px;
}

.k_kei {
    position: absolute;
    top: 10px;
    right: 50px;
}

/* narin */
.k_cloud3 {
    position: absolute;
    top: 650px;
    right: 390px;
}

.k_cloud3 p {
    position: absolute;
    top: 100px;
    right: 170px;
}

.k_narin {
    position: absolute;
    top: 10px;
    right: 50px;
}

/* tero */
.k_cloud4 {
    position: absolute;
    top: 100px;
    left: 100px;
}

.k_cloud4 p {
    position: absolute;
    top: 100px;
    left: 70px;
}

.k_tero {
    position: absolute;
    top: 0px;
    left: 200px;
}


.k_cloud5 {
    position: absolute;
    top: 500px;
    left: 50px;
}

.k_cloud5 p {
    position: absolute;
    top: 100px;
    left: 100px;
}

.k_poron {
    position: absolute;
    top: -10px;
    left: -30px;
}

.k_sun {
    position: relative;
}

.sun_img {
    position: absolute;
    /* top: 485px;
    left: 960px; */
    top: 165px;
    left: 50%;
    margin-left: -213px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    padding-top: 60px;
}

.sun {
    position: absolute;
    /* top: 485px;
    left: 960px; */
    top: 250px;
    margin-left: -166.5px;
    left: 50%;
    background-color: white;
    border-radius: 50%;
    width: 333px;
    height: 333px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    padding-top: 60px;
}

.p_s_1 {
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -53.5px;
    animation: sun2 linear 2s infinite alternate-reverse;
}

.p_s_2 {
    position: absolute;
    top: 200px;
    left: 35%;
    margin-left: -37.45px;
    animation: sun2 linear 2s infinite alternate-reverse;
}

.p_s_3 {
    position: absolute;
    top: 200px;
    right: 35%;
    margin-right: -37.45px;
    animation: sun2 linear 2s infinite alternate-reverse;
}

.p_s_4 {
    position: absolute;
    top: 520px;
    right: 35%;
    margin-right: -37.45px;
    animation: sun2 linear 2s infinite alternate-reverse;
}

.p_s_5 {
    position: absolute;
    top: 520px;
    left: 35%;
    margin-left: -15px;
    animation: sun2 linear 2s infinite alternate-reverse;
}

.p_s_6 {
    position: absolute;
    top: 650px;
    left: 50%;
    margin-left: -53.5px;
    animation: sun2 linear 2s infinite alternate-reverse;
}

.pur_s_1 {
    position: absolute;
    top: 150px;
    left: 45%;
    margin-left: -70px;
    animation: sun linear 2s infinite alternate-reverse;
}

.pur_s_2 {
    position: absolute;
    top: 150px;
    right: 45%;
    margin-right: -70px;
    animation: sun linear 2s infinite alternate-reverse;
}

.pur_s_3 {
    position: absolute;
    top: 400px;
    left: 20%;
    margin-left: 230px;
    animation: sun linear 2s infinite alternate-reverse;
}



.pur_s_4 {
    position: absolute;
    top: 400px;
    right: 20%;
    margin-right: 230px;
    animation: sun linear 2s infinite alternate-reverse;
}

.pur_s_5 {
    position: absolute;
    top: 635px;
    left: 45%;
    margin-left: -70px;
    animation: sun linear 2s infinite alternate-reverse;
}

.pur_s_6 {
    position: absolute;
    top: 635px;
    right: 45%;
    margin-right: -70px;
    animation: sun linear 2s infinite alternate-reverse;
}


/* .pink_sun {
    position: absolute;
    top: 80px;
    margin-left: -302.5px;
    left: 50%;
    animation: sun2 linear 1s infinite alternate-reverse;
}

.purple_sun {
    position: absolute;
    top: 140px;
    margin-left: -315.5px;
    left: 50%;
    animation: sun linear 1s infinite alternate-reverse;
} */

/* .pink_sun {
    position: absolute;
    top: 80px;
    margin-left: -302.5px;
    left: 50%;

}

.purple_sun {
    position: absolute;
    top: 140px;
    margin-left: -315.5px;
    left: 50%;
    animation: sun linear 1s infinite alternate-reverse;
} */
/* @keyframes face_rotate {
    0% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
} */

@keyframes sun {
    0% {
        transform: scale(1.0, 1.0) rotate(36deg);
        transform-origin: 50% 50%;
    }

    10% {
        transform: scale(1.1, 1.1) rotate(72deg);
        transform-origin: 50% 50%;
    }

    20% {
        transform: scale(1.2, 1.2) rotate(108deg);
        transform-origin: 50% 50%;
    }

    30% {
        transform: scale(1.3, 1.3) rotate(144deg);
        transform-origin: 50% 50%;
    }

    40% {
        transform: scale(1.4, 1.4) rotate(180deg);
        transform-origin: 50% 50%;
    }

    50% {
        transform: scale(1.5, 1.5) rotate(216deg);
        transform-origin: 50% 50%;
    }

    60% {
        transform: scale(1.6, 1.6) rotate(252deg);
        transform-origin: 50% 50%;
    }

    70% {
        transform: scale(1.7, 1.7) rotate(288deg);
        transform-origin: 50% 50%;
    }

    80% {
        transform: scale(1.8, 1.8) rotate(288deg);
        transform-origin: 50% 50%;
    }

    90% {
        transform: scale(1.9, 1.9) rotate(324deg);
        transform-origin: 50% 50%;

    }

    100% {
        transform: scale(2.0, 2.0) rotate(360deg);
        transform-origin: 50% 50%;


    }

}

/* .pink_sun {
    padding-top: 485px;
    animation: sun_rotate 6s linear infinite;

}

@keyframes sun_rotate {
    100% {
        transform: rotate(360deg);
    }
} */

@keyframes sun2 {

    0% {
        transform: scale(1.0, 1.0);
    }

    10% {
        transform: scale(0.95, 0.95);
    }

    20% {
        transform: scale(0.9, 0.9);
    }

    30% {
        transform: scale(0.85, 0.85);
    }

    40% {
        transform: scale(0.8, 0.8);
    }

    50% {
        transform: scale(0.75, 0.75);
    }


    60% {
        transform: scale(0.7, 0.7);
    }

    70% {
        transform: scale(0.65, 0.65);
    }

    80% {
        transform: scale(0.6, 0.6);
    }

    90% {
        transform: scale(0.55, 0.55);
    }

    100% {
        transform: scale(0.5, 0.5);
    }

}

/* identity */
#identity {
    background-color: #fdd3ff;
}

.i_inner {
    width: 1320px;
    height: 970px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    padding: 35px 0
}

.i_circle {
    padding-top: 70px;
    width: 900px;
    height: 900px;
    margin: 0 auto;
    border-radius: 50%;
    border: #ffffa9 20px solid;
    background-color: white;
    box-sizing: border-box;
}

.i_circle h1 {
    text-align: center;
    color: #b885e0;
    font-family: 'SBAggro';
    font-weight: 500;
    font-size: 40px;
    padding-bottom: 70px;
    padding-top: 10px;
}

.identity_p {
    font-size: 24px;
    line-height: 40px;
    margin-left: 150px;
    margin-right: 150px;
    border-top: dashed #b885e0 3px;
    border-bottom: dashed #b885e0 3px;
    padding: 20px 0;
    margin-top: 100px;
    margin-bottom: 100px;
}

.leaf {
    position: relative;
}

.leaf_1 {
    position: absolute;
    top: -900px;
    right: 50px;
}

.leaf_2 {
    position: absolute;
    top: -600px;
    left: 10px;
}

.i_star {
    position: relative;
}

.i_star1 {
    position: absolute;
    top: -284px;
    right: 140px;
    animation: star_move linear 3s infinite alternate-reverse;
}

.i_star2 {
    position: absolute;
    top: -120px;
    left: 140px;
    animation: star_move2 linear 3s infinite alternate-reverse;
}

/* @keyframes star_move {
    0% {
        transform: translateX(-550px);
    }

    100% {
        transform: translateX(0px)
    }
}

@keyframes star_move2 {
    0% {
        transform: translateX(550px);
    }

    100% {
        transform: translateX(0px)
    }
} */
#slogan {
    height: 970px;
    background: url(../img/brand/slogan_bg.jpg) no-repeat center center;
    width: 100%;
    height: 100%;
}

.s_inner {
    width: 1320px;
    margin: 0 auto;
}

.s_inner h1 {
    padding-top: 50px;
}

.s_inner p {
    padding-top: 350px;
    text-align: center;
}

/* letter */
#letter {
    height: 970px;
    padding-top: 50px;
    background-color: #ffffa9;
    padding-bottom: 50px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.letter_text_move {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-size: 50px;
    font-weight: 800;
    background-color: #fdd3ff;
    padding: 20px 0;
}

@keyframes text_move {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes text_move2 {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.letter_text_move p {
    animation: text_move 20s linear infinite;
    padding-right: 20px;
    color: white;
}

.letter_text_move2 p {
    animation: text_move2 20s linear infinite;
    padding-right: 20px;
    color: white;
}

.letter_text_move2 {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-size: 50px;
    font-weight: 800;
    background-color: #fdd3ff;
    padding: 20px 0;
    box-sizing: border-box;
    margin-bottom: 400px;
}

.l_inner {
    width: 1320px;
    margin: 0 auto;
}

.letter_box {
    padding-top: 100px;
    box-sizing: border-box;
    padding-bottom: 120px;
    position: relative;
}

.click {
    position: absolute;
    top: 240px;
    left: 605px;
    animation: click_move linear 1s infinite alternate-reverse;
}

.cursor {
    position: absolute;
    top: 450px;
    left: 750px;
    z-index: 50;
    animation: cursor_move linear 1s infinite alternate-reverse;
}

.letter_img {
    display: flex;
    justify-content: center;
}

@keyframes click_move {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes cursor_move {
    0% {
        transform: translate(-50px, -50px) scale(1.1, 1.1);
    }

    100% {
        transform: translate(-25px, -25px);
    }
}

/* .l_stiker:hover {
    transform: scale(1.2, 1.2);
    transform-origin: center 100%;
} */

.l_stiker {
    position: relative;
}

.l_stiker_img {
    position: absolute;
    top: -290px;
    left: 600px;
}

/* letter_open */
.char,
.word {
    display: inline-block;
}

.splitting .char {
    /* animation: slide-in 1s cubic-bezier(0.17, 0.84, 0.4, 1.49) both; */
    animation: slide-in 1s cubic-bezier(1, 1.84, 1.4, 2.49) both;
    animation-delay: calc(30ms * var(--char-index));
}

/* [data-word="♬"] .char {
            display: inline;
        } */

@keyframes slide-in {
    0% {
        transform: scale(2) rotate(60deg);
        opacity: 0;
    }
}

@keyframes bump-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }
}

particule {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: 1px 1px 4px #eb6383;
}



.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}

.show {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
}

.window {
    position: relative;
    width: 100%;
    height: 100%;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    /* 임시 지정 */
    width: 100px;
    height: 100px;

    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
}


#letter_open {
    background-color: #ffffa9;
    /* height: 800px; */
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;
    transition: all .5s;
}

.letter_x_icon {
    display: flex;
    justify-content: right;
    padding-top: 20px;
    padding-right: 20px;
}

.l_open_inner {
    width: 1320px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 50px;
}

.l_open {
    position: relative;
}

.l_open_img {
    position: absolute;
    top: -100px;
    left: 45%;
    margin-left: -485px;
    box-sizing: border-box;
}

.letter_text_box {
    position: relative;
}

.letter_text {
    position: absolute;
    top: 130px;
    left: 45%;
    margin-left: -430px;
    width: 860px;
    height: 540px;
    position: absolute;
    text-align: center;
    z-index: 50;
    background-color: white;
    box-sizing: border-box;
}

/* location */
#location {
    width: 100%;
    height: 100%;
    background-color: #ffffa9;
}

.location_inner {
    /* width: 1320px;
    margin: 0 auto; */
    width: 100%;
    height: 760px;
    display: flex;
    /* justify-content: flex-end; */
}

.location_rnb {
    width: 50%;
    position: absolute;
    right: -5%;
    top: 0;
}

.location_lnb {
    width: 960px;
    padding-top: 200px;
    padding-left: 18%;
    position: relative;
}

.ate_place {
    position: absolute;
    bottom: -60px;
    left: 20px;
}

.tero_place {
    position: absolute;
    bottom: -70px;
    left: 320px;
}

.poron_place {
    position: absolute;
    bottom: -160px;
    right: 200px;
    z-index: 10;
}

.kei_place {
    position: absolute;
    top: 10px;
    right: -200px;
    z-index: 0;
}

.narin_place {
    position: absolute;
    top: 250px;
    left: 0px;
}

.place_map {
    z-index: 100;
}

.place_map iframe {
    width: 915px;
    height: 630px;
    border: #5c3b85 5px solid;
    border-radius: 300px 0px 0px 300px;
    margin-top: 65px;

}

.location_lnb h2 {
    font-size: 40px;
    color: #b885e0;
    padding-bottom: 50px;
}

.location_lnb img {
    padding-right: 15px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.location_lnb ul li p {
    display: inline;
}

/* footer */
.f_cloud_img {
    position: absolute;
    top: -350px;
    left: 0;
    overflow: hidden;
}

.footer {
    height: 210px;
    background-color: #5c3b85;
    position: relative;
    z-index: 20;
}

.f_inner {
    width: 1320px;
    margin: 0 auto;

}

.f_content {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.f_slogan {
    width: 440px;
    z-index: 50;
}

.f_about {
    width: 440px;
    z-index: 50;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
    color: #b5a2fe;
    padding-top: 30px;
}

.f_sns {
    width: 440px;
    z-index: 50;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
    color: #b5a2fe;
    padding-top: 20px;
}

.f_sns p {
    padding-bottom: 15px;
    padding-left: 10px;
}

.f_sns ul {
    display: flex;
    text-align: center;
    justify-content: center;
}

.f_sns ul li {
    padding-left: 15px;
}